#rehearsal-banner {
  padding: 10px;
  margin: 0;
  text-align: center;
  background: #C00000;
  color: #fff;
  font: bold 14px "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  z-index: 9999;
  border-bottom: 1px solid #7c0000;
  text-shadow: 0 1px 1px #6b0000;
}